.badge {
  display: inline-block;
  color: var(--ifm-font-color-base);
  border-radius: 4rem;
  font-size: 12px;
  font-weight: 400;
  padding: 0.125rem 0.375rem;
  white-space: nowrap;
  margin: 0 0.25rem;
}

.basic {
  color: var(--swm-off-white);
  background-color: var(--swm-blue-light-100);
}

[data-theme='dark'] .basic {
  background-color: var(--swm-blue-dark-140);
}

.experimental {
  color: var(--swm-off-white);
  background-color: var(--swm-purple-light-100);
}


[data-theme='dark'] .experimental {
  background-color: var(--swm-purple-dark-140);
}
